target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.m2/repository/com/fasterxml/jackson/core/jackson-annotations/2.18.2/_remote.repositories
/.m2/repository/com/fasterxml/jackson/core/jackson-annotations/2.18.2/jackson-annotations-2.18.2.jar
/.m2/repository/com/fasterxml/jackson/core/jackson-annotations/2.18.2/jackson-annotations-2.18.2.jar.sha1
/.m2/repository/com/fasterxml/jackson/core/jackson-annotations/2.18.2/jackson-annotations-2.18.2.pom
/.m2/repository/com/fasterxml/jackson/core/jackson-annotations/2.18.2/jackson-annotations-2.18.2.pom.sha1
/.m2/repository/com/fasterxml/jackson/core/jackson-core/2.18.2/_remote.repositories
/.m2/repository/com/fasterxml/jackson/core/jackson-core/2.18.2/jackson-core-2.18.2.jar
/.m2/repository/com/fasterxml/jackson/core/jackson-core/2.18.2/jackson-core-2.18.2.jar.sha1
/.m2/repository/com/fasterxml/jackson/core/jackson-core/2.18.2/jackson-core-2.18.2.pom
/.m2/repository/com/fasterxml/jackson/core/jackson-core/2.18.2/jackson-core-2.18.2.pom.sha1
/.m2/repository/com/fasterxml/jackson/core/jackson-databind/2.18.2/_remote.repositories
/.m2/repository/com/fasterxml/jackson/core/jackson-databind/2.18.2/jackson-databind-2.18.2.jar
/.m2/repository/com/fasterxml/jackson/core/jackson-databind/2.18.2/jackson-databind-2.18.2.jar.sha1
/.m2/repository/com/fasterxml/jackson/core/jackson-databind/2.18.2/jackson-databind-2.18.2.pom
/.m2/repository/com/fasterxml/jackson/core/jackson-databind/2.18.2/jackson-databind-2.18.2.pom.sha1
/.m2/repository/com/fasterxml/jackson/jackson-base/2.18.2/_remote.repositories
/.m2/repository/com/fasterxml/jackson/jackson-base/2.18.2/jackson-base-2.18.2.pom
/.m2/repository/com/fasterxml/jackson/jackson-base/2.18.2/jackson-base-2.18.2.pom.sha1
/.m2/repository/com/fasterxml/jackson/jackson-bom/2.18.2/_remote.repositories
/.m2/repository/com/fasterxml/jackson/jackson-bom/2.18.2/jackson-bom-2.18.2.pom
/.m2/repository/com/fasterxml/jackson/jackson-bom/2.18.2/jackson-bom-2.18.2.pom.sha1
/.m2/repository/com/fasterxml/jackson/jackson-parent/2.18.1/_remote.repositories
/.m2/repository/com/fasterxml/jackson/jackson-parent/2.18.1/jackson-parent-2.18.1.pom
/.m2/repository/com/fasterxml/jackson/jackson-parent/2.18.1/jackson-parent-2.18.1.pom.sha1
/.m2/repository/com/fasterxml/oss-parent/61/_remote.repositories
/.m2/repository/com/fasterxml/oss-parent/61/oss-parent-61.pom
/.m2/repository/com/fasterxml/oss-parent/61/oss-parent-61.pom.sha1
/.m2/repository/io/rest-assured/json-path/5.5.4/_remote.repositories
/.m2/repository/io/rest-assured/json-path/5.5.4/json-path-5.5.4.jar
/.m2/repository/io/rest-assured/json-path/5.5.4/json-path-5.5.4.jar.sha1
/.m2/repository/io/rest-assured/json-path/5.5.4/json-path-5.5.4.pom
/.m2/repository/io/rest-assured/json-path/5.5.4/json-path-5.5.4.pom.sha1
/.m2/repository/io/rest-assured/rest-assured/5.5.4/_remote.repositories
/.m2/repository/io/rest-assured/rest-assured/5.5.4/rest-assured-5.5.4.jar
/.m2/repository/io/rest-assured/rest-assured/5.5.4/rest-assured-5.5.4.jar.sha1
/.m2/repository/io/rest-assured/rest-assured/5.5.4/rest-assured-5.5.4.pom
/.m2/repository/io/rest-assured/rest-assured/5.5.4/rest-assured-5.5.4.pom.sha1
/.m2/repository/io/rest-assured/rest-assured/5.5.4/rest-assured-5.5.4-sources.jar
/.m2/repository/io/rest-assured/rest-assured/5.5.4/rest-assured-5.5.4-sources.jar.sha1
/.m2/repository/io/rest-assured/rest-assured-common/5.5.4/_remote.repositories
/.m2/repository/io/rest-assured/rest-assured-common/5.5.4/rest-assured-common-5.5.4.jar
/.m2/repository/io/rest-assured/rest-assured-common/5.5.4/rest-assured-common-5.5.4.jar.sha1
/.m2/repository/io/rest-assured/rest-assured-common/5.5.4/rest-assured-common-5.5.4.pom
/.m2/repository/io/rest-assured/rest-assured-common/5.5.4/rest-assured-common-5.5.4.pom.sha1
/.m2/repository/io/rest-assured/rest-assured-parent/5.5.4/_remote.repositories
/.m2/repository/io/rest-assured/rest-assured-parent/5.5.4/rest-assured-parent-5.5.4.pom
/.m2/repository/io/rest-assured/rest-assured-parent/5.5.4/rest-assured-parent-5.5.4.pom.sha1
/.m2/repository/io/rest-assured/xml-path/5.5.4/_remote.repositories
/.m2/repository/io/rest-assured/xml-path/5.5.4/xml-path-5.5.4.jar
/.m2/repository/io/rest-assured/xml-path/5.5.4/xml-path-5.5.4.jar.sha1
/.m2/repository/io/rest-assured/xml-path/5.5.4/xml-path-5.5.4.pom
/.m2/repository/io/rest-assured/xml-path/5.5.4/xml-path-5.5.4.pom.sha1
/.m2/repository/org/apache/apache/33/_remote.repositories
/.m2/repository/org/apache/apache/33/apache-33.pom
/.m2/repository/org/apache/apache/33/apache-33.pom.sha1
/.m2/repository/org/apache/commons/commons-lang3/3.16.0/_remote.repositories
/.m2/repository/org/apache/commons/commons-lang3/3.16.0/commons-lang3-3.16.0.jar
/.m2/repository/org/apache/commons/commons-lang3/3.16.0/commons-lang3-3.16.0.jar.sha1
/.m2/repository/org/apache/commons/commons-lang3/3.16.0/commons-lang3-3.16.0.pom
/.m2/repository/org/apache/commons/commons-lang3/3.16.0/commons-lang3-3.16.0.pom.sha1
/.m2/repository/org/apache/commons/commons-parent/72/_remote.repositories
/.m2/repository/org/apache/commons/commons-parent/72/commons-parent-72.pom
/.m2/repository/org/apache/commons/commons-parent/72/commons-parent-72.pom.sha1
/.m2/repository/org/apache/groovy/groovy/4.0.22/_remote.repositories
/.m2/repository/org/apache/groovy/groovy/4.0.22/groovy-4.0.22.jar
/.m2/repository/org/apache/groovy/groovy/4.0.22/groovy-4.0.22.jar.sha1
/.m2/repository/org/apache/groovy/groovy/4.0.22/groovy-4.0.22.pom
/.m2/repository/org/apache/groovy/groovy/4.0.22/groovy-4.0.22.pom.sha1
/.m2/repository/org/apache/groovy/groovy-bom/4.0.22/_remote.repositories
/.m2/repository/org/apache/groovy/groovy-bom/4.0.22/groovy-bom-4.0.22.pom
/.m2/repository/org/apache/groovy/groovy-bom/4.0.22/groovy-bom-4.0.22.pom.sha1
/.m2/repository/org/apache/groovy/groovy-json/4.0.22/_remote.repositories
/.m2/repository/org/apache/groovy/groovy-json/4.0.22/groovy-json-4.0.22.jar
/.m2/repository/org/apache/groovy/groovy-json/4.0.22/groovy-json-4.0.22.jar.sha1
/.m2/repository/org/apache/groovy/groovy-json/4.0.22/groovy-json-4.0.22.pom
/.m2/repository/org/apache/groovy/groovy-json/4.0.22/groovy-json-4.0.22.pom.sha1
/.m2/repository/org/apache/groovy/groovy-xml/4.0.22/_remote.repositories
/.m2/repository/org/apache/groovy/groovy-xml/4.0.22/groovy-xml-4.0.22.jar
/.m2/repository/org/apache/groovy/groovy-xml/4.0.22/groovy-xml-4.0.22.jar.sha1
/.m2/repository/org/apache/groovy/groovy-xml/4.0.22/groovy-xml-4.0.22.pom
/.m2/repository/org/apache/groovy/groovy-xml/4.0.22/groovy-xml-4.0.22.pom.sha1
/.m2/repository/org/apache/maven/maven-parent/37/_remote.repositories
/.m2/repository/org/apache/maven/maven-parent/37/maven-parent-37.pom
/.m2/repository/org/apache/maven/maven-parent/37/maven-parent-37.pom.sha1
/.m2/repository/org/apache/maven/plugins/maven-install-plugin/3.1.0/_remote.repositories
/.m2/repository/org/apache/maven/plugins/maven-install-plugin/3.1.0/maven-install-plugin-3.1.0.jar
/.m2/repository/org/apache/maven/plugins/maven-install-plugin/3.1.0/maven-install-plugin-3.1.0.jar.sha1
/.m2/repository/org/apache/maven/plugins/maven-install-plugin/3.1.0/maven-install-plugin-3.1.0.pom
/.m2/repository/org/apache/maven/plugins/maven-install-plugin/3.1.0/maven-install-plugin-3.1.0.pom.sha1
/.m2/repository/org/apache/maven/plugins/maven-jar-plugin/3.3.0/_remote.repositories
/.m2/repository/org/apache/maven/plugins/maven-jar-plugin/3.3.0/maven-jar-plugin-3.3.0.jar
/.m2/repository/org/apache/maven/plugins/maven-jar-plugin/3.3.0/maven-jar-plugin-3.3.0.jar.sha1
/.m2/repository/org/apache/maven/plugins/maven-jar-plugin/3.3.0/maven-jar-plugin-3.3.0.pom
/.m2/repository/org/apache/maven/plugins/maven-jar-plugin/3.3.0/maven-jar-plugin-3.3.0.pom.sha1
/.m2/repository/org/apache/maven/plugins/maven-plugins/37/_remote.repositories
/.m2/repository/org/apache/maven/plugins/maven-plugins/37/maven-plugins-37.pom
/.m2/repository/org/apache/maven/plugins/maven-plugins/37/maven-plugins-37.pom.sha1
/.m2/repository/org/apache/maven/plugins/maven-surefire-plugin/3.2.5/_remote.repositories
/.m2/repository/org/apache/maven/plugins/maven-surefire-plugin/3.2.5/m2e-lastUpdated.properties
/.m2/repository/org/apache/maven/plugins/maven-surefire-plugin/3.2.5/maven-surefire-plugin-3.2.5.jar
/.m2/repository/org/apache/maven/plugins/maven-surefire-plugin/3.2.5/maven-surefire-plugin-3.2.5.jar.sha1
/.m2/repository/org/apache/maven/plugins/maven-surefire-plugin/3.2.5/maven-surefire-plugin-3.2.5.pom
/.m2/repository/org/apache/maven/plugins/maven-surefire-plugin/3.2.5/maven-surefire-plugin-3.2.5.pom.sha1
/.m2/repository/org/apache/maven/surefire/maven-surefire-common/3.2.5/_remote.repositories
/.m2/repository/org/apache/maven/surefire/maven-surefire-common/3.2.5/maven-surefire-common-3.2.5.pom
/.m2/repository/org/apache/maven/surefire/maven-surefire-common/3.2.5/maven-surefire-common-3.2.5.pom.sha1
/.m2/repository/org/apache/maven/surefire/surefire/3.2.5/_remote.repositories
/.m2/repository/org/apache/maven/surefire/surefire/3.2.5/surefire-3.2.5.pom
/.m2/repository/org/apache/maven/surefire/surefire/3.2.5/surefire-3.2.5.pom.sha1
/.m2/repository/org/apache/maven/surefire/surefire-api/3.2.5/_remote.repositories
/.m2/repository/org/apache/maven/surefire/surefire-api/3.2.5/surefire-api-3.2.5.pom
/.m2/repository/org/apache/maven/surefire/surefire-api/3.2.5/surefire-api-3.2.5.pom.sha1
/.m2/repository/org/apache/maven/surefire/surefire-booter/3.2.5/_remote.repositories
/.m2/repository/org/apache/maven/surefire/surefire-booter/3.2.5/surefire-booter-3.2.5.pom
/.m2/repository/org/apache/maven/surefire/surefire-booter/3.2.5/surefire-booter-3.2.5.pom.sha1
/.m2/repository/org/apache/maven/surefire/surefire-extensions-api/3.2.5/_remote.repositories
/.m2/repository/org/apache/maven/surefire/surefire-extensions-api/3.2.5/surefire-extensions-api-3.2.5.pom
/.m2/repository/org/apache/maven/surefire/surefire-extensions-api/3.2.5/surefire-extensions-api-3.2.5.pom.sha1
/.m2/repository/org/apache/maven/surefire/surefire-extensions-spi/3.2.5/_remote.repositories
/.m2/repository/org/apache/maven/surefire/surefire-extensions-spi/3.2.5/surefire-extensions-spi-3.2.5.pom
/.m2/repository/org/apache/maven/surefire/surefire-extensions-spi/3.2.5/surefire-extensions-spi-3.2.5.pom.sha1
/.m2/repository/org/apache/maven/surefire/surefire-logger-api/3.2.5/_remote.repositories
/.m2/repository/org/apache/maven/surefire/surefire-logger-api/3.2.5/surefire-logger-api-3.2.5.pom
/.m2/repository/org/apache/maven/surefire/surefire-logger-api/3.2.5/surefire-logger-api-3.2.5.pom.sha1
/.m2/repository/org/apache/maven/surefire/surefire-shared-utils/3.2.5/_remote.repositories
/.m2/repository/org/apache/maven/surefire/surefire-shared-utils/3.2.5/surefire-shared-utils-3.2.5.pom
/.m2/repository/org/apache/maven/surefire/surefire-shared-utils/3.2.5/surefire-shared-utils-3.2.5.pom.sha1
/.m2/repository/org/eclipse/sisu/org.eclipse.sisu.inject/0.9.0.M2/_remote.repositories
/.m2/repository/org/eclipse/sisu/org.eclipse.sisu.inject/0.9.0.M2/org.eclipse.sisu.inject-0.9.0.M2.pom
/.m2/repository/org/eclipse/sisu/org.eclipse.sisu.inject/0.9.0.M2/org.eclipse.sisu.inject-0.9.0.M2.pom.sha1
/.m2/repository/org/eclipse/sisu/org.eclipse.sisu.plexus/0.9.0.M2/_remote.repositories
/.m2/repository/org/eclipse/sisu/org.eclipse.sisu.plexus/0.9.0.M2/org.eclipse.sisu.plexus-0.9.0.M2.pom
/.m2/repository/org/eclipse/sisu/org.eclipse.sisu.plexus/0.9.0.M2/org.eclipse.sisu.plexus-0.9.0.M2.pom.sha1
/.m2/repository/org/eclipse/sisu/sisu-inject/0.9.0.M2/_remote.repositories
/.m2/repository/org/eclipse/sisu/sisu-inject/0.9.0.M2/sisu-inject-0.9.0.M2.pom
/.m2/repository/org/eclipse/sisu/sisu-inject/0.9.0.M2/sisu-inject-0.9.0.M2.pom.sha1
/.m2/repository/org/eclipse/sisu/sisu-plexus/0.9.0.M2/_remote.repositories
/.m2/repository/org/eclipse/sisu/sisu-plexus/0.9.0.M2/sisu-plexus-0.9.0.M2.pom
/.m2/repository/org/eclipse/sisu/sisu-plexus/0.9.0.M2/sisu-plexus-0.9.0.M2.pom.sha1
/.m2/repository/org/junit/junit-bom/5.11.0-M2/_remote.repositories
/.m2/repository/org/junit/junit-bom/5.11.0-M2/junit-bom-5.11.0-M2.pom
/.m2/repository/org/junit/junit-bom/5.11.0-M2/junit-bom-5.11.0-M2.pom.sha1
/.m2/repository/org/projectlombok/lombok/1.18.32/_remote.repositories
/.m2/repository/org/projectlombok/lombok/1.18.32/lombok-1.18.32.jar
/.m2/repository/org/projectlombok/lombok/1.18.32/lombok-1.18.32.jar.sha1
/.m2/repository/org/projectlombok/lombok/1.18.32/lombok-1.18.32.pom
/.m2/repository/org/projectlombok/lombok/1.18.32/lombok-1.18.32.pom.sha1
/.m2/repository/org/testng/testng/7.10.2/_remote.repositories
/.m2/repository/org/testng/testng/7.10.2/m2e-lastUpdated.properties
/.m2/repository/org/testng/testng/7.10.2/testng-7.10.2.jar
/.m2/repository/org/testng/testng/7.10.2/testng-7.10.2.jar.sha1
/.m2/repository/org/testng/testng/7.10.2/testng-7.10.2.pom
/.m2/repository/org/testng/testng/7.10.2/testng-7.10.2.pom.sha1
/.m2/repository/org/testng/testng/7.10.2/testng-7.10.2-javadoc.jar
/.m2/repository/org/testng/testng/7.10.2/testng-7.10.2-javadoc.jar.sha1
/.m2/repository/org/testng/testng/7.10.2/testng-7.10.2-sources.jar
/.m2/repository/org/testng/testng/7.10.2/testng-7.10.2-sources.jar.sha1
